@import "./variables.scss";

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

#__next {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 350px 400px 180px;
    grid-template-areas: "Header"
                        "contentMiddle"
                        "mainContent"
                        "footer";
}
