@import "../../styles/variables.scss";

.myFooter {
    grid-area: footer;
    background-color: $font-default-color;
    span {
        background-color: $black-color-theme;
        font-size: .9em;
    }
    div {
        svg {
            cursor: pointer;
            color: #FFFFFF;
            padding: 8px;
            border-color: #FFFFFF;
            border-width: 1px;
            border-radius: 20%;
            border-style: solid;
            width: 40px;
            height: 40px;
            transition: all .3s;
            &:hover {
                transform: scale(1.05);
                transition: all .3s;
            }
        }
    }
}
