@import "../../styles/variables.scss";

.mainContent {
    grid-area: mainContent;
    background-color: $gray-color-theme;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    h2 {
        color: $purple-color-theme;
        font-size: 1.2em;
    }
    button {
        background-color: $purple-color-theme;
        font-size: .9em;
    }
}
